AI Agent - With Wikipedia.json
{
  "name": "AI Agent - With Wikipedia",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "e7f3eda9-c62f-4bbc-84b2-208139a9c208",
      "name": "When chat message received",
      "webhookId": "66b8f983-ae58-461d-a043-3430b72cd0ae"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAI Automation Engineer – Arhum\nAnwere what AI Automation Engineer from Wikipedia\nFunction: Respond to `{{ $json.chatInput }}` use Wikipedia tools to answer.\nContext: Provide clear, concise answers under 200 characters to help automate tasks. Portfolio:(https://arhumhussainportfolio.com/)\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "eb0f6cee-bbb8-4bb6-960c-51725cf67242",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        192
      ],
      "id": "8d68de2f-a497-4fda-b344-cec55404b0f7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FlgTgZhAOItryglZ",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        176
      ],
      "id": "1db9de70-8c70-4a5a-8605-3e07434cb22a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "a39e1bb5-5a89-4b41-907f-f79698c8b1e4",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87e58486-b07f-40b3-bafa-d4da138445d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6106dae91769aeda431b0e8d231b22487705a9f3d20053b27868bf691d881c1c"
  },
  "id": "h0bKOsSUFiPX26uL",
  "tags": []
}